html, body, * {
  margin-bottom: 8px;
}
h1 {
  margin: 5px 0px;
  font-size: 30px;
}
.hide {
  display: none;
}

/* Loader */
.loader-container {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: none;
  background-color: rgba(0,0,0,0.25);
  margin-bottom: 0px;
}
.centered-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader-image {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


