* {
  font-family: sans-serif;
  font-weight: lighter;
}
body {
  background: url("../gfx/tx2.png");
  height: 100%;
  margin: 0;
}
h3 {
  margin: 0;
}
.float-right {
  float: right;
}
.navPage-container {
  padding: 50px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 30px;
  color: rgba(0,0,0,0.8);
  font-size: 30px;
  overflow: scroll;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
}
.navPage {
  max-width: 1000px;
  text-align: center;
  margin: auto;
  background-color: rgba(0,0,0,0.1);
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  min-height: 100%;
}
