extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
          h1.display-4.m-b-2 Login
          h2 Social Media Logins
          p
            a(href="/auth/login/github" class="btn btn-primary") Github
            |  or 
            a(href="/auth/login/facebook" class="btn btn-primary") Facebook
