.text1 {
  font-weight: bolder;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 10px;
}
.header1 {
  font-size: 40px;
  font-family: 'Charmonmoan';
}
.header2 {
  font-family: 'Mali', cursive;
}

