#home {
  text-align: center;
}
/* .home_homeLink {
  position: absolute;
  left: 5px;
  top: 5px;
}
.home_inputBox {
  margin: auto;
}
.home_links {
  width: 100%;
}
.home_tableFooter {
  width: 100%;
  position: absolute;
  bottom: 10px;
}
.home_tableFooter th div {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #DDD;
  margin: auto;
} */
